	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
 
<title><if condition="!empty($web_title)">{$web_title}-</if>{$glo.web_name}</title>
<meta name="keywords" content="{$glo.web_keywords}" />
<meta name="description" content="{$glo.web_descript}" />
 
	</head>
	<link rel="stylesheet" type="text/css" href="/Public/wap/css/all.css" />
	<link rel="stylesheet" type="text/css" href="/Public/wap/css/ldy.css" />
	<link rel="stylesheet" type="text/css" href="/Public/wap/css/mobileSelect.css" />
	<script type="text/javascript" src="/Public/wap/js/jquery-1.11.3.min.js"></script>

	<script type="text/javascript" src="/Public/wap/js/ldy.js"></script>
<script type="text/javascript" src="/Public/wap/js/mobileSelect.js"></script>
	<script src="/Public/wap/js/citylist.js"></script>
	<script src="/Public/default/M/js/layer.js"></script>

 <script type="text/javascript" src="__PUBLIC__/{:C('DEFAULT_THEME')}/Member/js/area.js"></script>

<style type="text/css">
	.l-leix{
		color: #737373;
	}
	.l-leir a{
		color: #313131;
	}
	.l-leir input {
    border: 0;

    
    outline: none;
    color: #313131;
    height: .42rem;
    font-size: .3rem;
}
	#trigger1{
	    padding-left: .5rem;
	}
#l-shiming ul li {
    padding: .3rem 0;
     color: #FFFFFF; 
    border-bottom:3px solid #EFF3FC;
}
input{
	height: .6rem;

}

</style>
  <style>
     
        .bg-fff {
            background: #fff;
            width: 96%;
            height: auto;
            margin: 0 auto; 
        }
         
         .hotBank-list{
             border-bottom: none !important;
         }
         .hotBank-list-ico {
             text-align: center;
         }
        .table {
            width: 100%;
            max-width: 100%;
        }
        .table {
            border-collapse: collapse !important;
        }
         
        table {
            background-color: transparent;
        }
         
        .form_td {
            width: 20%;
            text-align: center;
            font-size:16px;
        }
       
        .border-none {
            border: none !important;
        }
        .position-rel {
            position: relative;
        }
        .position-rel {
            position: relative;
        }
        .form-control {
            display: block;
            width: 80%;
            height: 34px;
            font-size: 15px;
            line-height: 1.43;
            text-indent: .25rem;
            color: #555;
            background-color: #fff;
            background-image: none;
            /*border: 1px solid #ccc;*/
            /*border-radius: 3px;*/
            border: none;
            outline:none;
            padding-left: 5px;
        }
        .bank_xljt {
            position: absolute;
            right: 2%;
            top: 1px;
            width: 30px;
            height: 33px;
            line-height: 33px;
            text-align: center;
            /*border-left: 1px solid #ccc;*/
        }
        .jt_xz {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
         
    
         
        img {
            border: 0;
        }
        .bank_xljt1 {
            height: 32px;
            position: absolute;
            width: 80%;
            top: 0px;
        }
        .bank_xl {
           width: 100%;
    height: 4rem;
    border: 1px solid #ccc;
    /* border-top: 0px; */
    /* border-bottom: 0px; */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #ffffff;
        }
        .bank_xl ul {
           height: 4rem;
    overflow: auto;
    list-style: none;
          
        }
        .bank_xl>ul>li {
            padding-top: 4px;
            padding-bottom: 3px;
            /*border-bottom: 1px solid #ccc;*/
            padding-left: 5px;
            height: 30px;
            list-style: none;
            line-height:30px;
        }
        .bank_xl>ul>li>a {
            display: block;
            width: 100%;
            color: #555;
        text-decoration: none;
        }
        .border-none{
            color: #737373;
        }
        </style>

	<body>
		

				<div class="l-fh l-on">
			<a href="javascript:window.history.back();"  class="l-fanhui on">&lt;返回</a><span>添加银行卡</span>
			<div class="l-fanhui1">
				<a href="/Wapmember/Memberinfo#chip-1"><img src="/Public/wap/img/huiyuan/shezhi.png" alt="" /></a>
			</div>
		</div>

				<form action="" method="post" id="l-shiming" class="clearfix">
				 
				<ul>
<!--
	<input type="hidden" value="{:cnsubstr($voinfo['real_name'],1,0,'utf-8',false).str_repeat('*',strlen($voinfo['real_name'])-1)}" />-->
					<!--				<input type="hidden" id="txt_bankName" value="{$voinfo['txt_bankName']}" />-->
						<li>
							<div class="l-leix fl">
								开户名
							</div>
							<div class="l-leir fl">
								<input type="text" readonly="readonly"  id="txt_bankName" name="realname" value="{$voinfo['real_name']}" />

							</div>
						</li> 

                        <li>
                            <div class="l-leix fl">
                                身份证
                            </div>
                            <div class="l-leir fl">
                                <input type="text"  readonly="readonly"  id="idcard" name="idcard" value="{$voinfo['idcard']}" />

                            </div>
                        </li> 
						<li>
							<!--<div class="l-leix fl">-->
							<!--	开户银行-->
							<!--</div>-->
							<!--<div class="l-leir fl getyh">-->
							<!--	<input type="hidden" name="bank_name" id="bank_name" value="" />-->
					 				<!--	请选择 
							<!--		ICBC  工商银行  -->
							<!--		ABC  农业银行  -->
							<!--		BOCSH  中国银行  -->
							<!--		CCB  建设银行  -->
							<!--		CMB  招商银行  -->
							<!--		SPDB  浦发银行  -->
							<!--		GDB  广发银行  -->
							<!--		BOCOM  交通银行  -->
							<!--		PSBC  邮政储蓄银行  -->
							<!--		CNCB  中信银行  -->
							<!--		CMBC  民生银行  -->
							<!--		CEB  光大银行  -->
							<!--		HXB  华夏银行  -->
							<!--		CIB  兴业银行  -->
							<!--		BOS  上海银行  -->
							<!--		SRCB  上海农商  -->
							<!--		PAB  平安银行  -->
							<!--		BCCB  北京银行  -->
							<!--		BOC  中行（大额） -->
							<!--		-->
								 
							<!--	 <a href="#" role="button" id="sel_city1">选择开户银行</a> -->

							<!--	<span class="l-fr">&gt;</span>-->
							<!--</div>-->
		 <div class="row bg-fff  par-top-40 pad-right-15" id="bank_show1"  >
            <table class="table">
               
                <!--<tr>-->
                <!--    <td class="form_td border-none td_bot">银行卡号</td><td class="border-none td_bot"><input type="text" id="kahao" class="form-control" placeholder="请输入银行卡号" onfocus="if(this.placeholder=='请输入银行卡号'){this.placeholder='';}" onblur="if(this.placeholder==''){this.placeholder='请输入银行卡号';}"/></td>-->
                <!--</tr>-->
                <tr>
                    <td class="form_td border-none td_bot" style="font-size:.34rem;padding-left0.2rem;">选择银行</td>
                    <td class="border-none td_bot">
                        <div class="position-rel">
                            <div class="position-rel">
                                	<div id="trigger1">请选择</div>
					<input id="bank_name" name="bank_name" value="" type="hidden"/>
                                <!--<input type="text" id="chose_input"   class="form-control" id="bank" placeholder="--银行--"/>-->
                                <div class="bank_xljt">></div>
                                <!--<div id="chose_bank" class="bank_xljt1"></div>-->
                            </div>
                            <!--<div class="bank_xl" style="display: none">-->
                            <!--    <ul>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="中国农业银行">-->
                            <!--                中国农业银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="中国建设银行">-->
                            <!--                中国建设银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="中国工商银行">-->
                            <!--                中国工商银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="交通银行">-->
                            <!--                交通银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="中国邮政储蓄银行">-->
                            <!--                中国邮政储蓄银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="中国银行">-->
                            <!--                中国银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="中国光大银行">-->
                            <!--                中国光大银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="招商银行">-->
                            <!--                招商银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="浦发银行">-->
                            <!--                浦发银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="中信银行">-->
                            <!--                中信银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="华夏银行">-->
                            <!--                华夏银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="中国民生银行">-->
                            <!--                中国民生银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="广发银行">-->
                            <!--                广发银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="平安银行">-->
                            <!--                平安银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="兴业银行">-->
                            <!--                兴业银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="恒丰银行">-->
                            <!--                恒丰银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="浙商银行">-->
                            <!--                浙商银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--        <li class="hotBank-list">-->
                            <!--            <a href="javascript:" class="hotBank-list-ico "  title="渤海银行">-->
                            <!--                渤海银行-->
                            <!--            </a>-->
                            <!--        <>-->
                            <!--    </ul>-->
                            <!--</div>-->
                        </div>
                   </td>
                </tr>
            </table>
        </div>
       
						</li>


    <li style="display:none;" id="khh">
                            <div class="l-leix fl">
                            开户行名称：
                            </div>
                            <div class="l-leir fl">
         
                            <input   id="bank_namecs" style="width: 100%;"  type="text" maxlength="19">
                            </div>
                        </li>


						<li>
							<div class="l-leix fl">
								开户地址
							</div>
							<div class="l-leir fl getcity">
								<select name="selectp" id="province">
                                    <option value="0">请选择省份 </option>
                                </select>
                                <select name="selectc" id="city">
                                    <option value="0">请选择城市</option>
                                </select>

							</div>
						</li>
							<li>
							<div class="l-leix fl">
								详细地址信息
							</div>
							<div class="l-leir fl">
		 
                		    <input   id="bank_address" style="width: 100%;"  type="text" maxlength="19">
							</div>
						</li>
						<li>
							<div class="l-leix fl">
								银行卡号
							</div>
							<div class="l-leir fl">
		 
                		    <input   id="txt_account" style="width: 100%;"  type="text" maxlength="19">
							</div>
						</li>

						<li>
							<div class="l-leix fl">
								绑定手机号
							</div>
							<div class="l-leir fl">
								<input type="text" id="user_phone" value="{$voinfo.user_phone}" id="new_phone"/>

							</div>
						</li>
						<li style="padding: .2rem 0rem;">
							<div class="l-leix fl" style="line-height: .6rem;">
								验证码
							</div>
							<div class="l-leir fl">
								<input type="text" class="l-inpkd" id="reg_code" style="border: 1px solid #cccccc7a;
    width: 35%;
    margin-right: .2rem;
    height: .5rem;
    margin-top: .05rem;"/>
								<div class="l-yanzhengm1" id="yanzhengma">获取验证码</div>
							</div>
						</li>
						<li>
							<div class="l-leix1 fl">

								
								   <input type="checkbox"   name="moren" id="moren"value="1" class="l-moren" checked  style="margin-top: -.1rem; float: left;"/>
								   <label for="moren" class="l-labdui" ></label>
						           <label for="moren">设为默认银行卡</label>
								

							</div>
						</li>
					</ul>
						<div id="btn_set" class="l-qurena">
		                 <a>确认添加</a>  	
		             </div>
				</form>
	<script>
        // $(function(){
        // //        下拉银行卡
        //     $(".hotBank-list-ico").bind('click',function(){
        //       $('#chose_input').val($(this).attr('title'));
        //         $('.bank_xl').hide();
        //         $("#chose_bank").parent('div').find('a').addClass('jt_xz');
        //     });
        //     $("#chose_bank").click(function(){
        //         $('.bank_xl').show();
        //         $("#chose_bank").parent('div').find('a').removeClass('jt_xz');
        //     });
        // //        下拉银行卡
        // })
        </script>
		
		<!--弹出-->
		<!--省市-->
		<div id="l-citiy">
			<van-actionsheet v-model="show">
				<van-area :area-list="areaList" columns-num="2" @confirm="confirm" @cancel="show=!show"/>
			</van-actionsheet>

		</div>
		<div id="lyh">
			<van-actionsheet v-model="show1">
				<van-picker show-toolbar  :columns="columns" @cancel="show1=!show1" @confirm="confirm"/>
			</van-actionsheet>
        
		</div>
	<?php
if(isset($reg_code_time)&&!empty($reg_code_time)){
echo "<script type='text/javascript'>var zz=".$reg_code_time." </script>";
echo "<script type='text/javascript'>var aa=".time()." </script>";
}else{
echo "<script type='text/javascript'>var zz=0 </script>";
echo "<script type='text/javascript'>var aa=60 </script>";
}
?>	
		<!--<div class="l-dtc" >
			<div class="l-tanchubox">
				<p>添加成功</p>
				<p> <button class="l-btnc">确定</button></p>
			</div>
		</div>-->
	</body>
	<script>
'use strict';
		
 	//var yes=0;
		$(document).ready(function() {
		
		 
		$("#btn_set").click(function() {
			if ($("#bank_name").val()=="") {
				alert('请选择开户行！');
		        //console.log("请选择开户行")
				return false;
			}
            if ($("#khh").css("display")=="block"&&$("#bank_namecs").val()=="") {
                alert('请填写开户行名称！');
                return false;
            }
			if(yzbank()===false){
                return false;
            }
			var is_default=$("input[name='moren']:checked").val();
			if(is_default=="undefined"){
				is_default=0
			}
            var reg_code=$("#reg_code").val();
            // if(reg_code=="undefined"){
            //     reg_code=0
            // }
            if (reg_code=="") {
                alert('验证码不能为空！');
                return false;
            }
// alert(is_default);return false;
var realname=$("#txt_bankName").val();
var account=$("#txt_account").val();
var bankname=$("#bank_name").val();
var idcard=$("#idcard").val();


if ($("#khh").css("display")=="block"&&$("#bank_namecs").val()!="") {
                bankname=bankname+"|"+$("#bank_namecs").val();
}


//layer.msg(111111111);
//console.log(yes)	
 // if(yes==1){
            $.ajax({
			url: "/wapmember/bank/bindbank/",
			type: "post",
			dataType: "json",
			data: {account:account ,idcard:idcard ,bank_address:$("#bank_address").val(), realname:realname , bankname:bankname ,is_default:is_default,reg_code:reg_code,province: $("#province").find("option:selected").text(),cityName: $("#city").find("option:selected").text(),province: $("#province").find("option:selected").text(),cityName: $("#city").find("option:selected").text()},
			    success: function(d) {
                 //    console.log("3")
                 // console.log(d)
				 if (d.status == 1) {
	                  alert('恭喜，您的银行卡更新成功')
                         window.location.href="/wapmember/bank";
         			 
//						// layer.alert('恭喜，您的银行卡更新成功', 1,!1);
//						// window.loaction.reload();
 	}
 					else if (d.status == 0) {
 					  alert(d.message);
 					}		 
				// console.log(d)
			}
		})

 // }else{
 // 	alert('请正确输入您的银行帐号！');
 // 	return false;
 // }

    		  
//			$.ajax({
//				url: "/wapmember/bank/bindbank",
//				type: "post",
//				dataType: "json",
//				data: {
//					account: $("#txt_account").val(), 
//					bankaddress: $("#txt_bankName").val(), bankname: $("#bank_name").val(),is_default:$("input[name='moren']:checked")
//					
//				},
//				success: function(d) {
//					if (d.status == 1) {
//                      alert('恭喜，您的银行卡更新成功',1, function(){
//                          window.location.reload();
//                      });
//						// layer.alert('恭喜，您的银行卡更新成功', 1,!1);
//						// window.loaction.reload();
//					}
//					else if (d.status == 0) {
//						alert(d.message);
//					}
//				}
//			});
		});
 
 
	  $("#yanzhengma").click(function() {
            var phone = $("#user_phone").val();
 			if ($("#bank_name").val()=="") {
				alert('请选择开户行！');
				console.log("请选择开户行")
				return false;
			}
			if(yzbank()===false){
                return false;
            }

			// if(yes!=1){
			//  	alert('请正确输入您的银行帐号！');
			// 	return false;
			// }
		    if(phone == ""){
		    	  alert('手机号不能为空');
		    	  return false;
		    }else{
		    	settime() 
		   }

  });
  var zc=aa-zz;
  if(zc>=60){
   var countdown=60; 
  }else{
   var countdown=zc; 
  }
//     var countdown=60; 
     function settime() 
        { 
        	
            var phone = $("#user_phone").val();
 
      if (countdown == 60)
            {
            	//alert(1);return;
            	console.log(phone);
    $.ajax({
      url: "/wapmember/index/sendcode/",
      type: "post",
      dataType: "json",
      data: {"phone":phone,"type":2},
      success: function(d) {
      	//console.log(d);
        if(d.status == "y"){
            alert(d.info);
             return false;
          }else{
           alert(d.info);
            return false;
          }
//      else if(d.status == "m"){
//          alert(d.info);
//           return false;
//        }
//        else if(d.status == "f"){
//          alert(d.info);
//           return false;
//        }else{
//         alert(d.info,{icon: 1});
//          return false;
//        }
      }
    });
      }
            if (countdown == 0) 
            { 
                $("#yanzhengma").removeAttr("disabled");    
                $("#yanzhengma").html("获取验证码"); 
                countdown = 60; 
            } 
            else 
            { 
                $("#yanzhengma").attr("disabled","disabled");
                $("#yanzhengma").html("重新发送(" + countdown + ")"); 
                countdown--; 
            } 
            var dxtimer = setTimeout(function() { if (countdown == 60){clearTimeout(dxtimer);}else{settime();} },1000) 
            }
function strLength(as_str){
    return as_str.replace(/[^\x00-\xff]/g, 'xx').length;
}; 		
		
//  $("#yanzhengma").click(function() {
//      var phone = $("#new_phone").val();
//      if(phone == ""){
//          layer.msg('手机号不能为空', {type : 9});
//          return false;
//      }
//  		$.ajax({
//			url: "/wapmember/user/Verification/",
//			type: "post",
//			dataType: "json",
//			data: {"phone":phone},
//			success: function(d) {
//				if (d.status == "y") {
//					alert('已发送！');
//						alert(d.info );
//					return;
//				}else if (d.status == "n") {
//					alert('失败');
//					window.location.reload();
//				}else if (d.status == "s") {
//					alert(d.info );
//					//window.location.reload();
//				}
//				 console.log(d)
//			}
//		})
//  }); 
    
});

		var banklist=["请选择","工商银行", "农业银行", "中国银行", "建设银行", "招商银行","浦发银行","广发银行","交通银行","邮政储蓄银行","中信银行","民生银行","光大银行","华夏银行","兴业银行","上海银行","上海农商","平安银行","北京银行","中行（大额)","其它银行"]
// var KdArr=['啦啦啦','噜噜噜'];
	var mobileSelect1 = new MobileSelect({
    trigger: '#trigger1',  
    wheels: [
                {data: banklist}
            ],
    position:[0], //初始化定位 打开时默认选中的哪个 如果不填默认为0
    transitionEnd:function(indexArr, data){
        console.log(data);
    },
    callback:function(indexArr, data){
	if(indexArr!=0) $("#bank_name").val(banklist[indexArr]);

        var aa=$("#bank_name").val();
        if(aa=="其它银行"){
            $("#khh").css("display","block");
        }else{
            $("#khh").css("display","none");
        }

       // console.log(data);
    }
});

		$(".getyh").click(function() {
			lyh.show1 = true
		})
			var account='';
		
		//$("#txt_account").blur(function() {});
function yzbank(){
account =$("#txt_account").val();
if (account.length < 16 || account.length > 19) {
//
//$("#accountInfo").html("银行卡号长度必须在16到19之间");
alert("银行卡号长度必须在16到19之间");
	 //yes=0;
return false;

}
var num = /^\d*$/;  //全数字
if (!num.exec(account)) {
alert("银行卡号必须全为数字");
	 //yes=0;
//$("#accountInfo").html("银行卡号必须全为数字");
return false;
}
 
//开头6位
var strBin="10,18,30,35,37,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,58,60,62,65,68,69,84,87,88,94,95,98,99";    
if(strBin.indexOf(account.substring(0, 2))== -1) {
alert("银行卡号开头6位不符合规范");
//$("#accountInfo").html("银行卡号开头6位不符合规范");
	// yes=0;
return false;
}
    var lastNum=account.substr(account.length-1,1);//取出最后一位（与luhm进行比较）
    var first15Num=account.substr(0,account.length-1);//前15或18位
    var newArr=new Array();
   // alert(lastNum);
    for(var i=first15Num.length-1;i>-1;i--){    //前15或18位倒序存进数组
        newArr.push(first15Num.substr(i,1));
    }
     
    var arrJiShu=new Array();  //奇数位*2的积 <9
    var arrJiShu2=new Array(); //奇数位*2的积 >9
    var arrOuShu=new Array();  //偶数位数组
    for(var j=0;j<newArr.length;j++){
    	if((j+1)%2==1){
    		if(parseInt(newArr[j])*2<9){
    			arrJiShu.push(parseInt(newArr[j])*2)
    			
    		}else{
    			arrJiShu2.push(parseInt(newArr[j])*2)
    		}
    	}else{
    		arrJiShu.push(newArr[j])
    	}
       
    }
    var jishu_child1=new Array();//奇数位*2 >9 的分割之后的数组个位数
    var jishu_child2=new Array();//奇数位*2 >9 的分割之后的数组十位数
    for(var h=0;h<arrJiShu2.length;h++){
        jishu_child1.push(parseInt(arrJiShu2[h])%10);
        jishu_child2.push(parseInt(arrJiShu2[h])/10);
    }        
    var sumJiShu=0; //奇数位*2 < 9 的数组之和
    var sumOuShu=0; //偶数位数组之和
    var sumJiShuChild1=0; //奇数位*2 >9 的分割之后的数组个位数之和
    var sumJiShuChild2=0; //奇数位*2 >9 的分割之后的数组十位数之和
    var sumTotal=0;
    for(var m=0;m<arrJiShu.length;m++){
        sumJiShu=sumJiShu+parseInt(arrJiShu[m]);
    }
    for(var n=0;n<arrOuShu.length;n++){
        sumOuShu=sumOuShu+parseInt(arrOuShu[n]);
    }
    for(var p=0;p<jishu_child1.length;p++){
        sumJiShuChild1=sumJiShuChild1+parseInt(jishu_child1[p]);
        sumJiShuChild2=sumJiShuChild2+parseInt(jishu_child2[p]);
    }      
    //计算总和
    sumTotal=parseInt(sumJiShu)+parseInt(sumOuShu)+parseInt(sumJiShuChild1)+parseInt(sumJiShuChild2);
    //计算Luhm值
    var k= parseInt(sumTotal)%10==0?10:parseInt(sumTotal)%10;        
    var luhm= 10-k;
    if(lastNum==luhm){
    	  
    	 	 // yes=1; 
       	//console.log(yes);	 	
    return true;
    }
    else{
     //yes=0; 
    alert("你的银行卡号不正确,请确认")
    return false;
    } 
}
	</script>
 <script type="text/javascript">
var areaurl="__URL__/getarea/";
var s = new GetAreaSelect('#province','#city','#district',<empty name="vobank['bank_province']">2<else/>{$vobank.bank_province}</empty>,<empty name="vobank['bank_city']">52<else/>{$vobank.bank_city}</empty>);
</script>
</html>